.App-logo {
  height: 100px;
}

.App-header {
  background-color: #808080;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.App-input {
  background-color: rgb(247, 171, 27);
  border-radius: 1em;
  height: 20px;
  text-align: center;
  color: white;
  font-size: 14px;
}

.App-input:focus {
  background-color: red;
}

.App-button {
  height: 50px;
  vertical-align: middle;
}

*:focus {
  outline: none;
}

